*,::before,::after
{
    margin: 0;
    box-sizing: border-box;
}
a
{
    text-decoration: none;
}
ul
{
    list-style: none;
    padding: 0;
}
button
{
    padding: 0;
    cursor: pointer;
}
:disabled
{
    cursor: not-allowed;
}
img
{
    vertical-align: bottom;
}
label
{
    display: inline-block;
}
iframe
{
    border: none;
}

@font-face 
{
    font-family: pr;
    src: url(../fonts/proximanova-regular.woff2);
    font-display: swap;
}
@font-face 
{
    font-family: pb;
    src: url(../fonts/proximanova-bold.woff2);
    font-display: swap;
}
@font-face
{
    font-family: pt;
    src: url(../fonts/Proxima-Nova-Thin.woff2);
    font-display: swap;
}

body
{
    font-family: pr ,sans-serif;
}
h1, h2, h3, h4, th, b, strong
{ 
    font-family: pb, sans-serif;
}
.pt{ font-family: pt, sans-serif; }
.container
{
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.row
{
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px;
}
.row [class^="col-"]
{
  flex: 1 1 auto;
  padding: 0 15px;
}
.row .col-1{ flex-basis: 8.33%; max-width: 8.33%;}
.row .col-2{ flex-basis: 16.66%; max-width: 16.66%;}
.row .col-3{ flex-basis: 25%; max-width: 25%;}
.row .col-4{ flex-basis: 33.33%; max-width: 33.33%;}
.row .col-5{ flex-basis: 41.66%; max-width: 41.66%;}
.row .col-6{ flex-basis: 50%; max-width: 50%;}
.row .col-7{ flex-basis: 58.33%; max-width: 58.33%;}
.row .col-8{ flex-basis: 66.66%; max-width: 66.66%;}
.row .col-9{ flex-basis: 75%; max-width: 75%;}
.row .col-10{ flex-basis: 83.33%; max-width: 83.33%;}
.row .col-11{ flex-basis: 91.66%; max-width: 91.66%;}
.row .col-12{ flex-basis: 100%; max-width: 100%;}

header
{
    background-color: #000;
    color: #fff;
}
header h1
{
    font-size: 30px;
}
header h1 a
{
    color: inherit;
    line-height: 80px;
}

header nav ul
{
    display: flex;
}
header nav ul li
{
    margin: 0 5px;

}
header nav ul li a
{
    line-height: 80px;
    color: inherit;
    padding: 0 15px;
}
.btn
{
    font: 16px pr, sans-serif;
    width: 90px;
    height: 35px;
    border: 2px solid;
    color: #ca3c3c;
    border-radius: 10px;
    background-color: transparent;
}
.flex{ display: flex;}
.align-center{ align-items: center;}
.justify-right{ justify-content: right;}
.wrap-2{ background: #666; color: #fff;}
.video{ padding: 300px 0; }
.video button{ background: transparent; border: none; font-size: 150px; color: inherit; margin-right: 41px; }
.video p{ font-size: 60px; }
.video a{ color: #ca3c3c; }

.wrap-3{ background: #ca3c3c; color: #fff; padding: 20px 0;}

h2{ font-size: 72px; border-bottom: 10px solid;}
.feature{ display: flex; align-items: center; margin: 30px 0;}
.feature .circle{ flex: 1 0 100px; width: 100px; line-height: 96px; border: 2px solid; border-radius: 50%; font-size: 36px; text-align: center; }
.feature .text{ flex: 1 1 auto; margin-left: 30px;}
.feature h3{ font-size: 16px; line-height: 30px;}
.feature p{ font-size: 14px; line-height: 30px;}
.wrap-3 h2{ margin-top: 30px;}

.wrap-4{ color: #ca3c3c; font-size: 36px; text-align: center; line-height: 150px;}

.wrap-5
{
    background-color: #ebebeb;
    color: 363636;
    padding-top: 100px;
}
.btn.active
{ 
    background: #ca3c3c; 
    color: #fff; 
    border-color: #ca3c3c;
}
.wrap-5 .btn
{ 
    margin: 30px 10px 60px 0;
}

.work
{
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
.work .over
{
    position: absolute;
    left: 0;
    right: 0;
    background: #fff; 
    padding: 20px 0; 
    text-align: center;
    transition: 500ms;
    bottom: -100px;
}
.work .over h3
{ 
    color: #ca3c3c;
    font-size: 18px;
    line-height: 40px;
}
.work .over p
{ 
    color: #898989;
    font-size: 14px;
    line-height: 20px;

}
.work:hover .over
{ 
    bottom: 0;
}
.more
{
    border: none;
    background-color: #ca3c3c;
    width: 31px;
    height: 32px;
    font-size:28px;
    color: #fff;
    border-radius: 50%;
    margin-bottom:20px;
}
.wrap-6
{
    background: #666; 
    color: #fff;
    padding: 60px 0 30px;
}
.review blockquote p
{ 
    font-size: 36px; 
    line-height: 41px;
}
.reviews
{ 
    text-align: center; 
}
.review
{ 
    display: none; 
}
.review.active
{ 
    display: block; 
}
.review b
{ 
    display: block; 
}
.review img
{ 
    border-radius: 50%;
    margin: 10px 0;
}
.pager
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pager li
{ 
    margin: 5px; 
}
.pager li a
{ 
    display: block; 
    width: 10px; 
    height: 10px; 
    border: 2px solid #fff; 
    border-radius: 50%;
}
.pager li a.active
{ 
    background: #fff;
}


.wrap-7
{ 
    background: #fff; 
    padding: 100px 0; 
    color: #363636;
}
.team
{
    margin-top: 80px; 
    position: relative;
}
.social
{ 
    position: absolute; 
    display: flex; 
    top: 60px; 
    right: 60px;
}
.social li
{ 
    margin-left: 10px; 
}
.social li a
{ 
    display: block; 
    width: 50px; 
    line-height: 50px; 
    background: #ca3c3c; 
    color: #fff; 
    font-size: 24px; 
    text-align: center; 
    border-radius: 50%; 
}
.gap
{ 
    margin: 50px 0 0 100px;
}
.gap h3
{ 
    color: #ca3c3c; 
    font-size: 18px; 
    margin-bottom: 15px; 
}
.gap small
{  
    color: #898989; 
    font-size: 14px; 
}
.gap p
{ 
    margin-top: 30px;
}

.wrap-8
{ 
    background: #666; 
    color: #fff; 
    padding: 85px 0; 
    text-align: center;
}
.wrap-8 span.fa
{ 
    font-size: 72px;
}
.wrap-8 p
{ 
    font-size: 72px;
}
.wrap-8 span
{ 
    font-size: 18px;
}
.wrap-10
{ 
    background: #ca3c3c; 
    color:#fff; 
    padding: 23px 0 22px;
}

.wrap-10 form input
{ 
    background: transparent; 
    border: none; 
    width: 100%; 
    color: #fff; 
    font:36px pt,sans-serif; 
    height: 35px;
}
.wrap-10 form input::placeholder
{ 
    color: #fff;
}
.wrap-10 form button
{ 
    background: #fff; 
}
.wrap-11
{ 
    background:#7f7f7f; 
    padding: 28px 0 27px; 
    color: #fff;
}
.box
{ 
    background: #a6a6a6; 
    text-align: center; 
    line-height: 95px;
}

.wrap-12
{ 
    background: #ebebeb; 
    color: #363636; 
    padding: 100px 0;
}

.wrap-12 form label
{ 
    display: block; 
    border: 2px solid #363636; 
    padding: 17px; 
    margin: 15px 0; 
}
.wrap-12 button
{ 
    background: #fff; 
    width: 100%; 
    margin: 15px 0; 
    border: none; 
    height: 80px; 
    color: #ca3c3c; 
    border-radius: 10px; 
    font-size: 16px;
}
.wrap-12 button span.fa
{ 
    font-size: 36px; 
    vertical-align: middle;
}
.wrap-12 input
{ 
    border: none; 
    background: transparent;
}
.wrap-12 textarea
{ 
    border: none; 
    background: transparent; 
    vertical-align: top; 
    height: 42px; 
    resize: none;
}

.wrap-13
{ 
    background: #252525; 
    color: #fff; 
    padding: 50px 0; 
    text-align: center;
}